@page
@model EmployeeManagement.Pages.Customers.AddEmployee
@{
    ViewData["Title"] = "AddEmployee";
}

<div class="form-size">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <h2>Add Employee</h2>
            <label for="name">First Name:</label>
            <input type="text" id="name" class="form-control" placeholder="Enter Name" asp-for="customer_name_f">
            <span asp-validation-for="customer_name_f" class="text-danger text-sm"></span>
            <br>
            <label for="name">Last Name:</label>
            <input type="text" id="name" class="form-control" placeholder="Enter Name" asp-for="customer_name_l">
            <span asp-validation-for="customer_name_l" class="text-danger text-sm"></span>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" placeholder="Enter Email" asp-for="email">
            <span asp-validation-for="email" class="text-danger"></span>
            <br>
            <label for="mobile">Mobile:</label>
            <input type="tel" id="mobile" class="form-control" placeholder="Enter Mobile Number" asp-for="mobile">
            <span asp-validation-for="mobile" class="text-danger"></span>
            <br>
            <label for="dob">Date Of Birth:</label>
            <input type="date" id="dob" class="form-control" placeholder="Enter Date of Birth" asp-for="dob">
            <span asp-validation-for="dob" class="text-danger"></span>
            <br>
            <label for="img">Upload Photo:</label><br>
            <input type="file" id="img" accept="image/*" asp-for="ImageFile">
            <br>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary float-end">Submit</button>
    </form>
</div>